<!-- Top navbar -->
<div class="top-navbar">
    <ul>
        <li class="logo"><a href="#">DAXUS MODELS</a></li>
        <li>
            <p><a href="/">Home</a></p>
        </li>
        <li>
            <p><a href="/models">Models</a></p>
        </li>
        <li>
            <p><a href="/about">About</a></p>
        </li>
        <!-- <li>
            <p><a href="/apply">Apply</a></p>
        </li> -->
        <li>
            <p><a href="/contact">Contact</a></p>
        </li>
    </ul>
</div>