
<!-- Social links section -->
<div class="socials">
    <ul>
        <li><a href="#"><i class="fab fa-instagram fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-github fa-2x"></i></a></li>
        <li><a href="#"><i class="fab fa-linkedin fa-2x"></i></a></li>
    </ul>
</div>