<%- include('partials/header',{cssfile:'about.css'})%>
<div class="wrapper">
    <!-- Top navbar -->
    <%-include('partials/navbar') %>

    <!-- data section -->
    <div class="data-section">
        <h1 class="header">ABOUT US</h1>
        <div class="infoGrp">
            <div class="para">
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolores eligendi deleniti repellat quis, eius iusto vel, sequi voluptate culpa amet soluta officia sapiente. Exercitationem quo recusandae reiciendis consequatur consequuntur culpa odio dolor accusantium nostrum possimus. Aliquam eaque praesentium ut, aut quo totam maiores ducimus vero velit impedit autem inventore nam dignissimos delectus illum facilis voluptates minus cupiditate necessitatibus voluptatum, architecto quis! Nesciunt, quam? Modi quisquam minus exercitationem! Odio, magni delectus pariatur ullam voluptate error facilis, impedit aut asperiores voluptatum ea distinctio. <br><br> Mollitia sequi a error atque unde doloribus aliquid quis nemo dolore, asperiores quasi consequuntur rem deleniti laboriosam dolor molestiae.</p>
            </div>
            <div class="displayimage">
                <img src="/src/ny.jpg">
            </div>
        </div>

    </div>

    <!-- Social links section -->
    <%- include("partials/sidebar") %>

    <!-- footer section -->
    <%- include("partials/footer") %>