<%- include('partials/header',{cssfile:'about.css'})%>
<div class="wrapper">
  <!-- Top navbar -->
  <%-include('partials/navbar') %>

  <!-- data section -->
  <div class="data-section">
    <h1 class="header">ABOUT ME</h1>
    <div class="infoGrp">
      <div class="para">
        <p>
          In April 2018 it had been a year since I started android development,
          it was going well but then something happened....
        </p>
        <br />
        <p>
          A close friend of mine who was struggling with his business for a long
          time suddenly started growing very rapidly. The reason behind it being
          a simple website. The website was not some high scale web application,
          it was just a simple blog created using html, css and javascipt. The
          real thing that made that website stand out was SEO optimization.
        </p>
        <br />
        <p>
          I digged dipper into the process of web development due to this
          incident and found out the reason why web development is the real gold
          mine. My friend wasn't some technological expert, he was just a
          businessman still he was able to reach his audience in such a small
          amount of time, something that I as a App Developer struggled to do.
          When an mobile app developer creates some solution for others he also
          needs to make sure that the person is in possession of the app,
          without the app the solution he created is useless.
        </p>
        <br />
        <p>
          The thing is that when it comes to web development the solutions or
          content that you create are already available with the users in form
          of a browser. The only thing that you need to work on is your content
          and website. Everything else is handled by google, your website is
          always present available and if your content is good enough to be
          ranked than it will reach your audience.
        </p>
        <br />
        <p>
          This led me to the world of web development, since then I developed my
          skills in some of the most sought after technologies and played around
          with many kinds of websites.
        </p>
      </div>
    </div>
  </div>

  <!-- Social links section -->
  <%- include("partials/sidebar") %>

  <!-- footer section -->
  <%- include("partials/footer") %>
</div>
