<%- include('partials/header',{cssfile:'contact.css'})%>
<div class="wrapper">
  <!-- Top navbar -->
  <%-include('partials/navbar') %>

  <!-- data section -->
  <div class="data-section">
    <div class="header">CONTACT ME</div>
    <div class="mail-form">
      <form
        action="mailto:dakshu16121999@gmail.com"
        enctype="text/plain"
        method="POST"
      >
        <div class="form-element">
          <label for="email">Email</label>
          <input type="email" id="email" placeholder="Enter your email" />
        </div>
        <div class="form-element">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="10"
            placeholder="Drop a message...."
          ></textarea>
        </div>
        <button class="btn" type="submit">SUBMIT</button>
      </form>
    </div>
  </div>

  <!-- Social links section -->
  <%- include("partials/sidebar") %>

  <!-- footer section -->
  <%- include("partials/footer") %>
</div>
