<%- include("partials/header",{cssfile: 'home.css'}) %>

<div class="wrapper">
  <!-- Top navbar -->
  <%- include("partials/navbar") %>

  <!-- data section -->
  <div class="data-container">
    <div class="header">
      <h1 class="daxus header-text">DAXUS</h1>
    </div>
    <p class="web-developer">Web Developer</p>
    <p class="info">
      Hello fellow developers, I am Daksh, a 21 year old web developer based in
      India.
    </p>
    <p class="info">
      This is my portfolio website that showcases some of my cool projects. Have
      a look around and drop a message if you want to collaborate on a project
      or have some work for me.
    </p>
    <a href="/projects" class="btn">See Projects</a>
  </div>

  <!-- Social links section -->
  <%- include("partials/sidebar") %>

  <!-- footer section -->
  <%- include("partials/footer") %>
</div>
