<%- include("partials/header",{cssfile: 'home.css'}) %>

<div class="wrapper">
    <!-- Top navbar -->
    <%- include("partials/navbar") %>

    <!-- data section -->
    <div class="data-container">
        <div class="header">
            <h1 class="daxus header-text">DAXUS</h1>
            <h1 class="models header-text">MODELS</h1>
        </div>
        <p class="new-york">NEW YORK</p>
        <p class="info">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi assumenda laboriosam in
            debitis soluta
            repudiandae nemo commodi, repellendus nam atque ex similique ab illo doloremque.</p>
        <a href="#" class="btn">See Models</a>

    </div>

    <!-- Social links section -->
    <%- include("partials/sidebar") %>

    <!-- footer section -->
    <%- include("partials/footer") %>