<%- include('partials/header',{cssfile:'models.css'})%>
<div class="wrapper">
    <!-- Top navbar -->
    <%-include('partials/navbar') %>

    <!-- data section -->
    <div class="data-section">
        <h1 class="header">MODELS</h1>

        <div class="row">
            <div class="image box-size">
                <img src="/src/i1.jpg" alt="">
            </div>
            <div class="name box-size">
                <h3>Sarah Williams</h3>
            </div>
            <div class="image box-size">
                <img src="/src/i2.jpg" alt="">
            </div>
            <div class="name box-size">
                <h3>Angela Davidson</h3>
            </div>
        </div>
        <div class="row">
            <div class="name box-size">
                <h3>Martha Williams</h3>
            </div>
            <div class="image box-size">
                <img src="/src/i3.jpg" alt="">
            </div>
            <div class="name box-size">
                <h3>Jennie Williams</h3>
            </div>
            <div class="image box-size">
                <img src="/src/i4.jpg" alt="">
            </div>
        </div>
        <div class="row">
            <div class="image box-size">
                <img src="/src/i5.jpg" alt="">
            </div>
            <div class="name box-size">
                <h3>Sana Minatozaki</h3>
            </div>
            <div class="image box-size">
                <img src="/src/i6.jpg" alt="">
            </div>
            <div class="name box-size">
                <h3>Nancy Momoland</h3>
            </div>
        </div>

    </div>

    <!-- Social links section -->
    <%- include("partials/sidebar") %>

    <!-- footer section -->
    <%- include("partials/footer") %>