<%- include('partials/header',{cssfile:'projects.css'})%>
<div class="wrapper">
  <!-- Top navbar -->
  <%-include('partials/navbar') %>

  <!-- data section -->
  <div class="data-section">
    <h1 class="header">PROJECTS</h1>

    <div class="row-type-1">
      <div class="project-tile box-size">
        <a href="https://codepen.io/Daxus/full/yLaObJP" target="_blank">
          <img
            src="https://assets.codepen.io/5114263/internal/screenshots/pens/yLaObJP.default.png"
            alt="Project Image"
            class="project-image"
          />
        </a>
      </div>
      <div class="technologies box-size">
        <ul>
          <li>
            <h3>HTML</h3>
          </li>
          <li>
            <h3>CSS</h3>
          </li>
          <li>
            <h3>Javascript</h3>
          </li>
          <li>
            <h3>React</h3>
          </li>
        </ul>
      </div>
      <div class="project-title box-size">
        <h3>Survey Form</h3>
      </div>
    </div>
    <!-- ------------------ -->
    <div class="row-type-2">
      <div class="project-title box-size">
        <h3>Landing Page</h3>
      </div>
      <div class="technologies box-size">
        <ul>
          <li>
            <h3>HTML</h3>
          </li>
          <li>
            <h3>CSS</h3>
          </li>
          <li>
            <h3>Javascript</h3>
          </li>
          <li>
            <h3>React</h3>
          </li>
        </ul>
      </div>
      <div class="project-tile box-size">
        <a href="https://codepen.io/Daxus/full/rNMLYEa" target="_blank">
          <img
            src="https://assets.codepen.io/5114263/internal/screenshots/pens/rNMLYEa.default.png"
            alt="Project Image"
            class="project-image"
          />
        </a>
      </div>
    </div>
    <div class="row-type-1">
      <div class="project-tile box-size">
        <a href="https://codepen.io/Daxus/full/poEbOOg" target="_blank">
          <img
            src="https://assets.codepen.io/5114263/internal/screenshots/pens/poEbOOg.default.png"
            alt="Project Image"
            class="project-image"
          />
        </a>
      </div>
      <div class="technologies box-size">
        <ul>
          <li>
            <h3>HTML</h3>
          </li>
          <li>
            <h3>CSS</h3>
          </li>
          <li>
            <h3>Javascript</h3>
          </li>
          <li>
            <h3>React</h3>
          </li>
        </ul>
      </div>
      <div class="project-title box-size">
        <h3>Technical Documentation Page</h3>
      </div>
    </div>
  </div>

  <!-- Social links section -->
  <%- include("partials/sidebar") %>

  <!-- footer section -->
  <%- include("partials/footer") %>
</div>
