<%- include('partials/header',{cssfile:'projects.css'})%>
<div class="wrapper">
  <!-- Top navbar -->
  <%-include('partials/navbar') %>

  <!-- data section -->
  <div class="data-section">
    <h1 class="header">PROJECTS</h1>

    <div class="row-type-1">
      <a href="https://codepen.io/Daxus/full/zYNzYgo" target="_blank">
        <div class="project-tile box-size">
          <img
            src="https://assets.codepen.io/5114263/internal/screenshots/pens/zYNzYgo.default.png"
            alt="Project Image"
            class="project-image"
          />
          <div class="overlay">
            <p class="text">Visit Site</p>
          </div>
        </div>
      </a>
      <div class="technologies box-size">
        <ul>
          <li>
            <h3>HTML</h3>
          </li>
          <li>
            <h3>CSS</h3>
          </li>
          <li>
            <h3>Javascript</h3>
          </li>
        </ul>
      </div>
      <div class="project-title box-size">
        <h3>Price Calculator Form</h3>
      </div>
    </div>
    <!-- ------------------ -->
    <div class="row-type-2">
      <div class="project-title box-size">
        <h3>Restaurant Landing Page</h3>
      </div>
      <div class="technologies box-size">
        <ul>
          <li>
            <h3>HTML</h3>
          </li>
          <li>
            <h3>CSS</h3>
          </li>
          <li>
            <h3>Javascript</h3>
          </li>
        </ul>
      </div>
      <a href="https://codepen.io/Daxus/full/gOgReKv" target="_blank">
        <div class="project-tile box-size">
          <img
            src="https://assets.codepen.io/5114263/internal/screenshots/pens/gOgReKv.default.png"
            alt="Project Image"
            class="project-image"
          />
          <div class="overlay">
            <p class="text">Visit Site</p>
          </div>
        </div>
      </a>
    </div>
    <div class="row-type-1">
      <a
        href="https://react-github-users-project.netlify.app/login"
        target="_blank"
      >
        <div class="project-tile box-size">
          <img
            src="src/githubUsersImage.jpg"
            alt="Project Image"
            class="project-image"
          />
          <div class="overlay">
            <p class="text">Visit Site</p>
          </div>
        </div>
      </a>
      <div class="technologies box-size">
        <ul>
          <li>
            <h3>React</h3>
          </li>
          <li>
            <h3>HTML</h3>
          </li>
          <li>
            <h3>EJS</h3>
          </li>
          <li>
            <h3>CSS</h3>
          </li>
          <li>
            <h3>Auth0</h3>
          </li>
        </ul>
      </div>
      <div class="project-title box-size">
        <h3>Github Users Project</h3>
      </div>
    </div>
  </div>

  <!-- Social links section -->
  <%- include("partials/sidebar") %>

  <!-- footer section -->
  <%- include("partials/footer") %>
</div>
