
@import "common.css";

/* Overwrite some css code */
body{
    background-image: none;
    background: var(--bgcolor);
}

/* Data container */

.data-section{
    padding: 5rem;
    display: grid;
    gap: 3rem;
} 

.header{
    color: var(--primary);
    font-size: 55px;
    letter-spacing: 1.65px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.row-type-1{
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    max-height: 50vh;
}

.row-type-2 {
    display: grid;
    grid-template-columns:repeat(2, 1fr) 2fr;
    max-height: 50vh;
}

.project-tile {
    max-width: 100%;
    background-color: var(--color-card-bg);
    border-radius: 5%;
    transition: all .5s ease;
}
.project-tile:hover{
    opacity: .3;
}

.project-image {
    width: 100%;
    height: auto;
    /* border-top-left-radius: 5%;
    border-top-right-radius: 5%; */
}

img{
    height: 50vh;
    width: 100%;
}

.data-section h3{
    color: var(--primary); 
    font-weight: 500;
    word-spacing: 99999999px; 
    font-size: 1.5rem;
}

.project-title{
    display: grid;
    place-items: center;
    width: inherit;
    background: var(--namebg);
    text-align: center;
}

.technologies{
    display: grid;
    place-items: center;

}

.box-size{
    transition: all .5s ease;
    overflow: hidden;
}



