
@import "common.css";

/* Overwrite some css code */
body{
    background-image: none;
    background: var(--bgcolor);
}

/* Data container */

.data-section{
    padding: 5rem;
    display: grid;
    gap: 3rem;
} 

.header{
    color: var(--primary);
    font-size: 55px;
    letter-spacing: 1.65px;
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 2rem;
    font-weight: 700;
}

.row-type-1{
    display: grid;
    grid-template-columns: 2fr repeat(2,1fr);
    max-height: 50vh;
}

.row-type-2 {
    display: grid;
    grid-template-columns:repeat(2, 1fr) 2fr;
    max-height: 50vh;
}

.project-tile {
    max-width: 100%;
    background-color: var(--color-card-bg);
    border-radius: 5%;
    position: relative;
}

.project-image {
    width: 100%;
    height: auto;
    transition: all .5s ease;
    position: relative;
}

img{
    display: block;
    height: auto;
    width: 100%;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    display: grid;
    place-items: center;
}

.overlay:hover{
    opacity: .8;
}

.text{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 3px;
}

.data-section h3{
    color: var(--primary); 
    font-weight: 500;
    word-spacing: 99999999px; 
    font-size: 1.5rem;
}

.project-title{
    display: grid;
    place-items: center;
    width: inherit;
    background: var(--namebg);
    text-align: center;
}

.technologies{
    display: grid;
    place-items: center;

}

.box-size{
    transition: all .5s ease;
    overflow: hidden;
}



